.nav-wrapper {
    background-color: rgb(228, 228, 228);

    .nav-section {
        display: flex;
        justify-content: space-between;
        max-width: 92rem;
        margin: auto;

        .nav-sub-items {
            display: flex;
            gap: 1rem;

            @media (max-width: 768px) {
                display: none;
            }
        }

        .nav-item {
            padding: 2rem;
            font-weight: 600;
        }

        .button-margin {
            margin: auto 2rem auto auto;
        }

        .hamburger-icon {
            display: flex;
            @media (min-width: 768px) {
                display: none;
            }
        }
    }
}