<section class="nav-wrapper">
    <section class="nav-section">
        <a routerLink="" class="nav-item">F1 App</a>
        
        <div class="nav-sub-items">
            <a routerLink="teams" class="nav-item">Teams</a>
            <button *ngIf="!authService.token" type="button" (click)="navToLoginPage()" class="button-margin" label="Sign In"  pButton></button>
            <button *ngIf="authService.token"  type="button" (click)="logout()"         class="button-margin" label="Sign Out" pButton></button>
        </div>

        <div class="hamburger-icon">
            <button class="nav-item" (click)="toggleMobileSidebar()" class="button-margin" label="More" pButton></button>
        </div>
    </section>
</section>


<p-sidebar #mobileSidebar [(visible)]="showMobileSidebar">
    <ng-template pTemplate="header">
        <a routerLink="" (click)="closeMobileSidebar()" class="nav-item">F1 App</a>
    </ng-template>

    <ng-template pTemplate="content">
        <a routerLink="teams" (click)="closeMobileSidebar()" class="nav-item">Teams</a>
    </ng-template>

    <ng-template pTemplate="footer">
        <button *ngIf="!authService.token" type="button" (click)="navToLoginPage(); closeMobileSidebar()" label="Sign In"  pButton></button>
        <button *ngIf="authService.token"  type="button" (click)="logout(); closeMobileSidebar()"         label="Sign Out" pButton></button>
    </ng-template>
</p-sidebar>