<section class="teams-wrapper">
    <div class="center">
        <p-button label="Add Team" (click)="navToAddTeamPage()"></p-button>
    </div>

    <section class="table">
        <div class="table-title">Teams</div>
        
        <ng-container *ngIf="!loading; else skeleton">
            <ng-container *ngIf="teams.length > 0; else emptyMessage">
                <div *ngFor="let team of teams" class="table-row">
                    <span>{{ team.name }}</span>
                    <div #buttons class="table-row-buttons">
                        <p-button icon="pi pi-pencil" (click)="navToEditTeam(team.name, team.id)" pTooltip="Edit Team"   tooltipPosition="top" [showDelay]="500"></p-button>
                        <p-button icon="pi pi-times"  (click)="openDelTeamDialog(team.id)"        pTooltip="Delete Team" tooltipPosition="top" [showDelay]="500"></p-button>
                    </div>
                </div>
            </ng-container>

            <ng-template #emptyMessage>
                <p class="empty-message-text">Haven't added any Teams yet.</p>
            </ng-template>
        </ng-container>

        <ng-template #skeleton>
            <div class="loading-block">
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
            </div>
        </ng-template>
    </section>
</section>