.teams-wrapper {
    margin-top: 2rem;
    padding: 1rem;
    max-width: 92rem;
    margin: auto;

    .center {
        text-align: center;
    }

    .table {
        box-shadow: 0 3px 10px rgb(0,0,0,0.2);
        border-radius: 0.5rem;
        max-width: 42rem;
        margin: 2rem auto auto auto;

        .table-title {
            border-top-right-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
            padding: 1rem;
            font-weight: 600;
            background-color: rgb(228, 228, 228);
        }

        .table-row {
            display: flex;
            align-items: center;
            padding: 0.8rem;
            justify-content: space-between;

            .table-row-buttons {
                display: flex;
                gap: 0.5rem;
                flex-wrap: nowrap;
                align-items: center;
            }
        }

        .empty-message-text {
            padding: 1rem;
            margin: 0;
        }

        .loading-block {
            text-align: center;
            padding: 1rem;
        }
    }
}