.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 80vh;

    .login-block {
        border-radius: 0.5rem;
        box-shadow: 0 3px 10px rgb(0,0,0,0.2);
        padding: 1.5rem;
        width: 100%;
        max-width: 30rem;

        h1 {
            text-align: center;
            margin-top: 0;
        }

        .login-form {
            display: grid;
            gap: 1.25rem;
            margin-top: 1.5rem;
        }

        button {
            margin-top: 1rem;
        }
    }
}