<section class="login-wrapper">
    <section class="login-block">
        <h1>Sign In</h1>

        <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">

            <div class="input-block">
                <div class="input-label-block">
                    <label htmlFor="username">Username*</label>
                    <div *ngIf="loginForm.controls['username'].dirty && loginForm.controls['username'].invalid">
                        <p *ngIf="loginForm.controls['username'].errors?.['required']">Required</p>
                    </div>
                </div>
                <input id="username" formControlName="username" autofocus autocomplete="username" [maxlength]="150" pInputText/>
            </div>

            <div class="input-block">
                <div class="input-label-block">
                    <label htmlFor="password">Password*</label>
                    <div *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].invalid">
                        <p *ngIf="loginForm.controls['password'].errors?.['required']">Required</p>
                    </div>
                </div>
                <p-password id="password" formControlName="password" [toggleMask]="true" [feedback]="false" [maxlength]="150"></p-password>
            </div>
            
            <button type="submit" label="Sign In" pButton></button>
        </form>
    </section>
</section>