@import "primeng/resources/themes/viva-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    margin: 0;
}

.input-block {
    display: flex;
    flex-direction: column;

    .input-label-block {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        label {
            font-size: 0.9rem;
        }

        p {
            color: #df2504;
            font-size: 0.9rem;
            margin: 0rem;
        }

        @media screen and (max-width: 768px) {
            p {
                font-size: 0.8rem;
            }
        }
    }
}

// Primeng
.p-multiselect.p-component, p-inputnumber, .p-inputnumber, .p-password, input.p-inputtext.p-component.p-element.p-password-input {
    width: 100%;
}