<section class="team-wrapper">
    <h1 class="title">{{ name ? name : 'Add Team' }}</h1>

    <form [formGroup]="teamForm" class="team-form" (ngSubmit)="submit()">
        <section class="inputs">
            <div class="input-block">
                <div class="input-label-block">
                    <label htmlFor="name">Name*</label>
                    <div *ngIf="teamForm.controls['name'].dirty && teamForm.controls['name'].invalid">
                        <p *ngIf="teamForm.controls['name'].errors?.['required']">Required</p>
                        <p *ngIf="teamForm.controls['name'].errors?.['backendError']">Already existing Name</p>
                    </div>
                </div>
                <input id="name" formControlName="name" autofocus [maxlength]="150" pInputText/>
            </div>

            <div class="input-block">
                <div class="input-label-block">
                    <label htmlFor="foundingYear">Founding Year*</label>
                    <div *ngIf="teamForm.controls['foundingYear'].dirty && teamForm.controls['foundingYear'].invalid">
                        <p *ngIf="teamForm.controls['foundingYear'].errors?.['required']">Required</p>
                        <p *ngIf="teamForm.controls['foundingYear'].errors?.['min']">Min. value is 1950</p>
                        <p *ngIf="teamForm.controls['foundingYear'].errors?.['max']">Max. value is {{ maxYear }}</p>
                    </div>
                </div>
                <input id="name" formControlName="foundingYear" [maxlength]="150" pInputText/>
            </div>

            <div class="input-block">
                <div class="input-label-block">
                    <label htmlFor="numberOfTitles">Number of Titles*</label>
                    <div *ngIf="teamForm.controls['numberOfTitles'].dirty && teamForm.controls['numberOfTitles'].invalid">
                        <p *ngIf="teamForm.controls['numberOfTitles'].errors?.['required']">Required</p>
                        <p *ngIf="teamForm.controls['numberOfTitles'].errors?.['min']">Min. value is 0</p>
                    </div>
                </div>
                <input id="name" formControlName="numberOfTitles" [maxlength]="150" pInputText/>
            </div>

            <div class="input-block">
                <div class="input-label-block">
                    <label htmlFor="paidRegistrationFee">Paid Registration Fee*</label>
                </div>
                <p-checkbox formControlName="paidRegistrationFee" [binary]="true" inputId="paidRegistrationFee"></p-checkbox>
            </div>
        </section>

        <div class="submit-button">
            <button type="submit" label="Save" pButton></button>
        </div>
    </form>
</section>