.team-wrapper {
    max-width: 72rem;
    margin: 2rem auto auto auto;

    .title {
        margin-bottom: 3rem;
        text-align: center;
    }

    .inputs {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        
        @media (min-width: 768px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    .submit-button {
        margin-top:2rem;
        text-align: center;
    }
}